<html>
	<head>
        <link rel="stylesheet" href="static/index.css">
        <script type="text/javascript" src="static/js/jquery-3.2.1.js"></script>
        <script type="text/javascript" src="static/index.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <title>Reflux Analyzer</title>
	</head>
	<body>
		<div id="header">
			<span id="h1">Reflux Analyzer</span>
		</div>
        {% verbatim %}
            <!--  Template tags ignored in here  -->
            <div id="app_control">
                <!--{{ title }}-->
                <!--<template v-once>{{ get_models() }}</template>-->
                <div id="models">
                    <p style="background-color:#8c8c8c;margin-top:0px;margin-bottom: 0px;">Models:
                        <button id="create_model" style="margin-left: 83px;">+</button>
                        <button onclick="" >-</button>
                        <button onclick="">train</button>
                        <button onclick="">predict</button>
                    </p>
                    <p class="model" v-for="model in models">{{ model }}</p>
                    <!--{% for model in models %}-->
                        <!--<p style="margin-top:0px;margin-bottom: 0px;">{{model}}</p>-->
                    <!--{% endfor %}-->
                </div>
                <div id="workspace"></div>
            </div>
        {% endverbatim %}
	</body>
</html>